<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<head>
    <meta charset="UTF-8"/>
    <title>FakeTunes</title>
</head>
<body>

<form class="form-inline" style="margin: 1%" th:action="@{search}">
    <input class="form-control" type="search" th:name="search" placeholder="Search" aria-label="Search" required>
    <button class="btn btn-primary" type="submit">Search</button>
</form>

<div class="row table-bordered">
    <div class="table-striped col-md-4">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Five random songs</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="track: ${tracks}">
                <td th:text="${track.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-striped col-md-4">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Five random artists</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="artist: ${artists}">
                <td th:text="${artist.artistName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-striped col-md-4">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Five random genres</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="genre: ${genres}">
                <td th:text="${genre.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>