<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<head>
    <meta charset="UTF-8"/>
    <title>FakeTunes Search</title>
</head>
<body>
<div th:if="${tracks.size() > 0}">
    <form class="form-inline" style="margin: 1%" th:action="@{/}">
        <button class="btn btn-sm btn-primary" style="display: flex; align-items: center;" type="submit">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" style="margin-right: 5px;" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            Go back
        </button>
    </form>
    <div class="table-hover table-bordered table-striped" style="margin: 1%; width: auto">
        <table class="table" style="margin-bottom: 0">
            <thead>
            <tr>
                <th scope="col">Track name</th>
                <th scope="col">Artist</th>
                <th scope="col">Album</th>
                <th scope="col">Genre</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="track: ${tracks}">
                <td th:text="${track.trackName}"></td>
                <td th:text="${track.artistName}"></td>
                <td th:text="${track.albumName}"></td>
                <td th:text="${track.genreName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:unless="${tracks.size() > 0}">
    <div class="alert alert-success" role="alert" style="width: fit-content; margin-top: 2%; margin-left: 3%;">
        <div style="display: flex; justify-content: space-between;">
            <h4 class="alert-heading">Oooops!</h4>
            <form class="form-inline" style="margin-bottom: 1%" th:action="@{/}">
                <button class="btn btn-sm btn-primary" style="display: flex; align-items: center;" type="submit">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" style="margin-right: 5px;" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                    Go back
                </button>
            </form>
        </div>
        <p th:text='|Sorry, there are no results for "${query}"|'></p>
    </div>
</div>
</body>
</html>